<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Resume</title>
  </head>
  <body>
    <h1>Hello and thanks for stoping by!</h1>
    <h2>Here's my resume, feel free to get a hold of me</h2>
    <h3>I'm new, but i'm eager, quick to learn, and will be the best new employee you could ask for.</h3>
    <img src="{% static 'images/resumeedited.jpg' %}" alt="Oops! It didn't load. Message me to let me know.">

  </body>
</html>
